<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<div class="alert alert-success" th:if="${!#strings.isEmpty(successMessage)}">
	<span class="glyphicon glyphicon-ok"></span> <span
		th:text="${successMessage}"></span>
</div>

<div class="alert alert-info" th:if="${!#strings.isEmpty(infoMessage)}">
	<span class="glyphicon glyphicon-info-sign"></span> <span
		th:text="${infoMessage}"></span>
</div>

<div class="alert alert-info" th:if="${!#strings.isEmpty(errorMessage)}">
	<span class="glyphicon glyphicon-info-sign"></span> <span
		th:text="${errorMessage}"></span>
</div>
</html>